* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(223, 123, 123);
}
header .main-container-pic {
  display: flex;
  background-color: white;
}
header .main-container-pic img {
  width: 6.0rem;
  height: 6.0rem;
  margin-left: 1.2rem;
}
header nav .main-container-menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
header nav .main-container-menu li {
  margin-right: 1.0rem;
  font-size: 1.6rem;
  list-style: none;
  color: rgb(255, 255, 255);
  cursor: pointer;

}
header nav .main-container-menu li:hover {
  background-color: rgb(231, 54, 84);
  padding: 0.5rem;
  border-radius: 8px;
}
header .main-container-nav {
  display: flex;
  align-items: center;
}

main .main-title {
  font-size: 1.6rem;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 1.8rem;
  width: 90%;

}
main section .container-bild {
  display: flex;
  justify-content: center;
  background-image: url('./images/teamwork.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20.0rem;
}
main section h1 {
  color:rgb(243, 138, 156);
  text-align: center;
  margin-bottom: 1.6rem;
}

main .h2-text {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
  color:rgb(243, 138, 156);
  font-size: 2.0rem;
  margin-bottom: 1.4rem;
}
main .main-section-2 {
  /* display: flex; */
}

main section .content__item {
  width: 90%;
  margin: 0 auto;
  height: 20.0rem;
  border: 2px solid rgb(243, 138, 156);
  border-radius: 8px;
  margin-bottom: 3.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.0rem;
}
main  .ci1 {
  background-image: url('./images/kette.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(243, 138, 156);
  cursor: pointer;
}
main .content__item a {
  padding: 60px;
  text-decoration: none;
  color:inherit
}
main .ci1:hover{
  background-color: rgb(223, 123, 123);
}
/* main  .ci2 {
  background-image: url('./images/influencerin.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(243, 138, 156);
  cursor: pointer; */
}

}
main .ci2:hover{
  background-color: rgb(223, 123, 123);
}
main  .ci3 {
  background-image: url('./images/model.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(243, 138, 156);
  cursor: pointer;
}
main .ci3:hover{
  background-color: rgb(223, 123, 123);
}
main  .ci4 {
  background-image: url('./images/gym.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(243, 138, 156);
  cursor: pointer;
}
main .ci4:hover{
  background-color: rgb(223, 123, 123);
}

footer {
  width: 100%;
  height: 5.0rem;
  background-color: rgb(223, 123, 123);
  display: flex;
  justify-content:space-around;
  align-items: center;
}
footer small {
  color: white;
  font-size: 1.4rem;
  margin: 1.0rem;
  cursor: pointer;
  text-align: center;
}
footer small:hover {
  text-decoration: underline;
}

/* Steine seite */
main {
  width: 100%;
  margin: 0 auto;
}
main .tx2 {
  font-size: 2.2rem;
  padding: 2.0rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 2.0rem;
}
main .sec__item {
  height: 100%;
  background-color: rgb(223, 123, 123);
  color: rgb(78, 76, 76);
  border: 1px solid red;
  margin-bottom: 7.0rem ;
  border-radius: 8px;
}
main .sec__item {
  display:inline-block;
  margin: 1.0rem;
  padding: 1.0rem;
}
main section figure {
  display: flex;
  justify-content: center;
  margin-bottom: 1.0rem;
}
main section img {
  width:10.0rem;
  height: 10.0rem;
}
main section h3 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1.0rem;
}
main section p {
  font-size: 1.8rem;
  text-align: center;
}
footer {
  margin-top: 6.0rem;
}